* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    overflow-x: hidden;
    margin: 0 auto;
}

body {
    background-color: rgb(245, 245, 245);
    color: black;
}

h1 {
    border-bottom: 3px double black;
}

h2 {
    border-bottom: 3px double black;
}

h1, h2, h3 {
    font-family: 'Martel', serif;
    font-weight: bold;
}

h1, h2 {
    font-size: 28px;
}

h3 {
    font-size: 22px;
}

p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.link-icons span {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: rgb(0, 29, 82);
}

.fa {
    color: rgb(0, 29, 82);
}

button {
    cursor: pointer;
}


nav {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    background: rgb(245, 245, 245);
    box-shadow: 10px 10px 5px rgb(75, 75, 75);
    color: rgb(0, 7, 105);
    position: fixed;
    width: 100%;
    padding: 10px;
}

.nav-menu {
    position: relative;
    background-color: rgb(245, 245, 245);
    border: 2px solid rgb(245, 245, 245);
    float: right;
    font-size: 16px;
}

.js-about {
    color: black;
}

.js-portfolio {
    color: black;
}

.js-contact {
    color: black;
}

.menu-bar {
    width: 15px;
    height: 2px;
    background-color: black;
    margin: 2px 0;
}

.menu-links a:hover {
    border-bottom: 3px solid black;
}

.link-icons  span:hover {
    color: lightblue;
}

/* change display to flex in js*/
ul {
    list-style: none;
    display: none;
    justify-content: space-evenly;
}

ul a {
    text-decoration: none;
    color: white;
}

a {
    cursor: pointer;
    color: black;
}

main {
    margin-top: 75px;
    text-align: center;
    max-width: 1080px;
    
}

.about {
    padding: 30px;
    color: rgb(150, 0, 0);
}

.contact {
    color: rgb(145, 145, 0);
    padding: 30px;
}

section {
    min-height: 200px;
    padding: 6% 0;
}

.quiz-app {
    width: 70%;
}

.quiz-thumbnail img {
    width: 16.5%;
}

.gp-search {
    width: 70%;
}

.gp-thumbnail img {
    width: 16.5%;
}

.squad-finder {
    width: 70%;
}   

.sf-thumbnail img {
    width: 16.5%;
}

img {
    border: 2px solid black;
}

.link-icons {
    margin-left: 20px;
    text-align: left;
}

.link-icons span {
    color: rgb(0, 29, 82);
    font-size: 18px;
}

.portfolio {
    padding: 30px;
    color: rgb(148, 96, 0);
}

.portfolio button {
    color: black;
    font-weight: bolder;
    background-color: rgb(148, 96, 0);
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-left: 5px solid black;
    border-right: 5px solid black;
    border-radius: 4px;
    padding: 10px 30px;
    transition: .5s ease-out;
}

.project-buttons button:hover {
    border-left: 5px solid salmon;
    border-right: 5px solid salmon;
    background-color: powderblue;
    color: black;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
}

.gameplay-section {
    padding-top: 50px;
}

.squad-finder-section {
    padding-top: 50px;
}

@media only screen and (min-width: 760px) {
    ul {
        display: flex;
        float: right;
        justify-content: space-evenly;
        margin-right: 20px;
    }


    ul li {
        margin-left: 20px;
    }

    h1 {
        margin-bottom: 70px;
    }

    p {
        line-height: 40px;
    }

    .nav-menu {
        display: none;
    }

    nav span {
        font-size: 30px;
        line-height: 200%;
        margin-left: 20px;
    }

    .menu-links {
        font-size: 20px;
    }

    h1, h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 35px;
    }

    p {
        font-size: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .about, .portfolio, .contact {
        padding: 60px;
    }

    .portfolio button {
        padding: 15px 60px;
        font-size: 30px;
    }
    
    .project-buttons {
        margin-left: 100px;
        margin-right: 100px;
        
    }

    .gameplay-section {
        padding-top: 100px;
    }

    .squad-finder-section {
        padding-top: 100px;
    }

    .js-about {
        color: black;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition: .3s ease-out;
    }
    
    .js-portfolio {
        color: black;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition: .3s ease-out;
    }
    
    .js-contact {
        color: black;
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition: .3s ease-out;
    }

    .menu-links a:hover {
        color: black;
        margin-bottom: -5px;
        margin-right: -10px;
        box-shadow: 0px 0px;
    }
}

@media only screen and (min-width: 1000px) {
    
  
}