* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto;
}

html, body {
    overflow-x: hidden;
    margin: 0 auto;
}

body {
    background-color: rgba(255, 255, 255, 0.151);
    color: black;
}

h1 {
    border-bottom: 3px double black;
    background: blue(255, 0, 0, 0.288);
}

h2 {
    border-bottom: 3px double black;
}

h1, h2, h3 {
    font-family: 'Martel', serif;
    font-weight: bold;
}

h1, h2 {
    font-size: 34px;
}

h3 {
    font-size: 22px;
}

p {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    line-height: 30px;
}

.link-icons span {
    font-family: 'Didact Gothic', sans-serif;
    font-size: 20px;
    color: rgb(0, 29, 82);
}

.fa {
    color: rgb(0, 29, 82);
}

button {
    cursor: pointer;
}


nav {
    font-family: 'Assistant', sans-serif;
    font-weight: bold;
    background: white;
    box-shadow: 10px 10px 5px rgb(75, 75, 75);
    color: rgb(0, 7, 105);
    position: fixed;
    width: 100%;
    padding: 10px;
}

.nav-menu {
    position: relative;
    background-color: white;
    border: 2px solid white;
    float: right;
    font-size: 16px;
}

.es-logo {
    width: 35px;
    border: none;
}

.my-picture {
    width: 175px;
}

.js-about {
    color: black;
}

.js-projects {
    color: black;
}

.js-contact {
    color: black;
}

.menu-links {
    margin-top: 35px;
}

.menu-bar {
    width: 25px;
    height: 4px;
    background-color: rgb(85, 151, 252);
    margin: 5px 0;
}

.menu-links a:hover {
    border-bottom: 3px solid black;
}

.link-icons  span:hover {
    color: lightblue;
}

/* change display to flex in js*/
ul {
    list-style: none;
    display: none;
    justify-content: space-evenly;
}

ul a {
    text-decoration: none;
    color: white;
}

a {
    cursor: pointer;
    color: black;
}

main {
    margin-top: 75px;
    text-align: center;
    max-width: 1600px;
    
}

.home {
    color: rgb(0, 47, 134);
}

.home h1 {
    background: rgba(0, 102, 255, 0.432);
}

.about {
    padding: 30px;
    color: rgb(0, 47, 134);
}

.about h2 {
    background: rgba(0, 102, 255, 0.432);
}

.contact {
    color: rgb(0, 47, 134);
    padding: 30px;
}

.contact h2 {
    background: rgba(0, 102, 255, 0.432);
}

section {
    min-height: 200px;
    padding: 6% 0;
}

.quiz-app {
    width: 70%;
}

.quiz-thumbnails {
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
    
}

.quiz-thumbnail img {
    width: 35%;
}

.gp-search {
    width: 70%;
}

.gp-thumbnails {
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
}

.gp-thumbnail img {
    width: 35%;
}

.squad-finder {
    width: 70%;
}   

.kick-release {
    width: 70%;
}

.kr-thumbnails {
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
}

.kr-thumbnail img {
    width: 35%;
}

.sf-thumbnails {
    margin-top: 20px;
    overflow: auto;
    white-space: nowrap;
}

.sf-thumbnail img {
    width: 35%;
}

img {
    border: 2px solid black;
}

.link-icons {
    margin-left: 20px;
    text-align: left;
}

.link-icons span {
    color: rgb(0, 29, 82);
    font-size: 18px;
}

.projects {
    padding: 30px;
    color: rgb(0, 47, 134);
}

.projects-list {
    padding: 30px;
}

.projects-list h2 {
    color: rgb(0, 47, 134);
    background: rgba(0, 102, 255, 0.432);
}

.quiz-section button {
    color: rgb(90, 29, 29);
    background: rgba(126, 64, 55, 0.404);
}

.quiz-section button:hover {
    border-left: 5px solid salmon;
    border-right: 5px solid salmon;
    background-color: powderblue;
    color: black;
}

.projects button {   
    border-radius: 4px;
    padding: 10px 30px;
    border: 1px solid;  
    box-shadow: 5px 10px;
    transition: .3s ease-out;
}

.project-buttons button:hover {
    color: black;
    margin-bottom: -5px;
    margin-right: -10px;
    box-shadow: 0px 0px;
}

.project-buttons {
    display: flex;
    justify-content: space-evenly;
    margin-left: 10px;
    margin-right: 10px;
}

.quiz-section {
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.quiz-section h3 {
    color: rgb(90, 29, 29);
    background: rgba(126, 64, 55, 0.404);
    border-bottom: 2px solid black;
}

.gameplay-section {
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.gameplay-section h3 {
    color: rgb(158, 103, 0);
    background: rgba(255, 166, 0, 0.39);
    border-bottom: 2px solid black;
}

.gameplay-section button {
    color: rgb(145, 94, 0);
    background: rgba(255, 166, 0, 0.39);
}

.squad-finder-section {
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.squad-finder-section h3 {
    color: rgb(50, 141, 14);
    border-bottom: 2px solid black;
    background: rgba(0, 128, 0, 0.336);
}

.squad-finder-section button {
    color: rgb(50, 141, 14);
    background: rgba(0, 128, 0, 0.336);
}

.kick-release-section {
    
    padding: 20px;
    border-radius: 10px;
    color: black;
}

.kick-release-section h3 {
    color: rgb(0, 98, 190);
    background: rgba(0, 98, 190, 0.322);
    border-bottom: 2px solid black;
}

.kick-release-section button {
    color: rgb(0, 98, 190);
    background: rgba(0, 98, 190, 0.322);
}

.project-list-img {
    width: 225px;
    border: none;
}

.nba-quiz-list {
    width: 250px; 
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
    transition: 1s ease-out;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.452);
}

.nba-quiz-list h3 {
    font-size: 32px;
    color: rgb(90, 29, 29);
    background: rgba(126, 64, 55, 0.404);
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.nba-quiz-list:hover {
    background: rgb(240, 189, 95);
}

.gameplay-list {
    width: 250px;
    
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
    transition: 1s ease-in-out;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.452);
}

.gameplay-list:hover {
    background: orange;
}

.gameplay-list h3 {
    font-size: 32px;
    color: rgba(187, 121, 0, 0.897);
    background: rgba(255, 166, 0, 0.39);
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.squad-list {
    width: 250px;
    
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
    transition: 1s ease-out;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.452);
}

.squad-list h3 {
    font-size: 32px;
    color: rgb(50, 141, 14);
    border-bottom: 2px solid black;
    background: rgba(0, 128, 0, 0.336);
    border-radius: 10px;
}

.squad-list:hover {
    background: rgb(6, 100, 6);
}

.kick-list {
    width: 250px;
    
    border-radius: 10px;
    margin-bottom: 20px;
    background: white;
    transition: 1s ease-out;
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.452);
}

.kick-list h3 {
    font-size: 32px;
    color: rgb(0, 98, 190);
    background: rgba(0, 98, 190, 0.322);
    border-bottom: 2px solid black;
    border-radius: 10px;
}

.kick-list:hover {
    background: rgb(60, 174, 250);
}

#back-btn {
    color: black;
    background: none;
    border: none;
    box-shadow: none;
    text-align: left;
    font-size: 18px;
}

#p-about {
    background: none;
    border: none;
    box-shadow: 0px 0px;
    color: rgb(85, 151, 252);
    padding: 0;
    text-decoration: none;
}

#p-projects {
    background: none;
    border: none;
    box-shadow: 0px 0px;
    color: rgb(85, 151, 252);
    padding: 0;
    text-decoration: none;
}

#p-contact {
    background: none;
    border: none;
    box-shadow: 0px 0px;
    color: rgb(85, 151, 252);
    padding: 0;
    text-decoration: none;
}

#p-about:hover {
    color: rgb(247, 230, 0);
}

#p-projects:hover {
    color: rgb(247, 230, 0);
}

#p-contact:hover {
    color: rgb(247, 230, 0);
}

@media only screen and (min-width: 760px) {

    .es-logo {
        margin-top: 10px;
        width: 90px;
        border: none;
    }
    
    ul {
        display: flex;
        float: right;
        justify-content: space-evenly;
        margin-right: 20px;
    }

    ul li {
        margin-left: 20px;
    }

    h1 {
        margin-bottom: 70px;
    }

    p {
        line-height: 40px;
    }

    .nav-menu {
        display: none;
    }

    nav span {
        font-size: 30px;
        line-height: 200%;
        margin-left: 20px;
    }

    .menu-links {
        font-size: 20px;
    }

    h1, h2 {
        font-size: 50px;
    }

    h3 {
        font-size: 35px;
    }

    p {
        font-size: 30px;
        padding-right: 50px;
        padding-left: 50px;
    }

    .about, .projects, .contact, .projects-list {
        padding: 60px;
    }

    .projects button {
        padding: 15px 60px;
        font-size: 30px;
    }
    
    .project-buttons {
        margin-left: 250px;
        margin-right: 250px;
        
    }

    .gameplay-section {
        
    }

    .squad-finder-section {
        
    }

    .js-about {
        color: rgb(247, 230, 0);
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition: .3s ease-out;
        background-color: rgb(85, 151, 252);
        border-radius: 4px;
    }
    
    .js-projects {
        color: rgb(247, 230, 0);
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition: .3s ease-out;
        background-color: rgb(85, 151, 252);
        border-radius: 4px;
    }
    
    .js-contact {
        color: rgb(247, 230, 0);
        border: 1px solid;
        padding: 10px;
        box-shadow: 5px 10px;
        transition: .3s ease-out;
        background-color: rgb(85, 151, 252);
        border-radius: 4px;
    }

    .menu-links a:hover {
        color: black;
        margin-bottom: -5px;
        margin-right: -10px;
        box-shadow: 0px 0px;
    }

    .project-list {
        
        
    }

    .nba-quiz-list {
        width: 300px;
    }

    .gameplay-list {
        width: 300px;
    }

    .squad-list {
        width: 300px;
    }

    .kick-list {
        width: 300px;
    }

    #back-btn {
        font-size: 26px;
    }

    .my-picture {
        width: 250px;
    }
}

@media only screen and (min-width: 1080px) {

    .container {
        margin-left: 70px;
        margin-right: 70px;
    }
    
    .project-list {
        padding-top: 50px;
    }

    .quiz-app {
        width: 40%;
    }
    
    .quiz-thumbnail img {
        width: 20%;
    }
    
    .gp-search {
        width: 40%;
    }
    
    .gp-thumbnail img {
        width: 20%;
    }
    
    .squad-finder {
        width: 40%;
    }   
    
    .kick-release {
        width: 40%;
    }
    
    .sf-thumbnail img {
        width: 20%;
    }
    
    .kr-thumbnail img {
        width: 20%;
    }
    .project-list {
        display: flex;
    }
}