* {
    box-sizing: border-box;
    margin-left: auto;
    margin-right: auto; 
}

html, body {
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
}

button {
    cursor: pointer;
}

nav {
    background-color: black;
    color: white;
    position: fixed;
    width: 100%;
    padding: 10px;
}

.nav-menu {
    position: relative;
    background-color: black;
    border: 2px solid black;
    float: right;
}

.menu-bar {
    width: 15px;
    height: 2px;
    background-color: white;
    margin: 2px 0;
}

ul {
    list-style: none;
    display: none;
}

ul a {
    text-decoration: none;
    color: white;
}

a {
    cursor: pointer;
    color: black;
}

main {
    margin-top: 75px;
    text-align: center;
}

section {
    min-height: 200px;
    padding: 6% 0;
}

.quiz-app {
    width: 70%;
}

.quiz-thumbnail img {
    width: 20%;
}

img {
    border: 2px solid black;
}

footer {
    text-align: center;
}

@media only screen and (min-width: 700px) {
    ul {
        display: flex;
        float: right;
        justify-content: space-evenly;
        margin-right: 20px;
    }

    ul li {
        margin-left: 20px;
    }

    .nav-menu {
        display: none;
    }
}